
@charset "utf-8";

body, ul, li, h3, p {
  margin: 0;
  padding: 0;
  list-style: none;
  color: var(--font5);
}

body {
  background-color:#111;
}

/*푸터 전체*/
.footer {
  background-color: #111;
  padding: 4rem 2rem;
  font-size: 14px;
  color: var(--font5);
}

.inner {
  width: 100%;
  margin: auto;
}

/* 푸터 왼쪽 영역 */

.SiteFooterLeftbox img {
    width: 91px;
    height: 104px;
    margin-bottom: 1rem;}

.SiteFooterInfo_text {
  font-size: 13px;
  margin-bottom: 4px;
  color: var(--font5);
}

.copyright {
  font-size: 12px;
  color: var(--font3);
  margin-top: 20px;
}

/* 메뉴 라인 */
.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 40px;
}

.footer-menu-row {
  display: flex;
  margin-left:60px;
  flex: 3;
  justify-content: space-between;
  gap: 10px;
}

.footer-menu h3,
.footer-section h3 {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: var(--font-weight-bold);
  color: var(--font3);
}

.footer-menu ul li,
.footer-section ul li {
  margin-bottom: 6px;
  font-size: 13px;
}

.footer-menu ul li a,
.footer-section ul li a {
  color: var(--font5);
  text-decoration: none;
}

/*
.footer-menu ul li a:hover,
.footer-section ul li a:hover {
  text-decoration: underline;
  color: var(--point);
}*/

/* 푸터 하단 영역 
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: 1px solid var(--font3);
  margin-top: 40px;
  gap: 40px;
}*/

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap; /* 모바일 대응 */
  padding: 60px 0;
  padding-bottom: 60px;
  border-top: 1px  var(--font3) ;
  margin-top: 40px;
  gap: 200px;
}

.site-footer-bottombox{
  display:block;
  clear:both;
  content:""
}
/*협력사 리스트
.site-footer-relation__list {
  display: flex;
  gap: 20px;
  align-items: center;
}*/

.site-footer-relation__list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-footer-relation__list img {
  height: 36px;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.site-footer-relation__list img:hover {
  opacity: 1;
}

.footer-sns {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-right:none;
  justify-content: flex-end;
  padding-right: 40px;
}

/*sns*/
.site-footer-sns__list {
  display: flex;
  gap: 40px;
  align-items: center;
  list-style:none;
  padding:0;
  margin-left:62px;
}

.site-footer-sns__list img {
  width: 32px;
  height: 32px;
  filter: brightness(1000%);
}


/* 패밀리 사이트 */
.family-site-wrapper {
  position: relative;
  float:left;
  margin-left: 30px;
  padding-top: 2px;
}

.site-footer-family-site__button {
  position: relative;
  z-index:10;
  width:161px;
  height:40px;
  background-color: #fff;
  color: #111;
  border: none;
  padding: 10px 20px;
  font-weight: var(--font-weight-bold);
  display: flex;
  align-items: center;
  gap: 8px;
  box-sizing:border-box;
  cursor: pointer;
  border-radius: 30px;
  font-size: 13px;
  transition: background-color 0.3s;
}

.site-footer-family-site__button:hover {
  background-color: #f0f0f0;
}

.site-footer-family-site__list {
  position: absolute;
   overflow:hidden;
  right: 0;
  top: 45px;
  background: #fff;
  color: #111;
  padding: 10px 0;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  min-width: 200px;
  z-index: 100;
  display: none;
}

.site-footer-family-site__list li {
  padding: 10px 20px;
  font-size: 16px;
  margin-top:5px;
}

.site-footer-family-site__list li a {
  padding-left:20px;
  color: #111;
  text-decoration: none;
}

.site-footer-family-site__list li:hover {
  background-color: #f5f5f5;
}

/* 드롭다운 토글용 클래스 */
.site-footer-family-site__list.show {
  display: block;
}
