.main-header-bg {
  width: 100%;
  height: 5.625rem;           /* 90px */
  background-color: transparent;
  align-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  transition-duration: 0.3s;
}

.header-box {
  width: 100%;
  height: 100%;
  padding: 0 12.5rem;         /* 200px */
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-logo {
  width: 3.25rem;             /* 52px */
  height: 3.75rem;            /* 60px */
  background-image: url(../../imgs/img/h_logo.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.menu-container {
  width: 27.5rem;             /* 440px */
  height: 3.75rem;            /* 60px */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-menu {
  margin-left: 2.625rem;      /* 42px */
  width: calc(100% - 5.875rem); /* 94px */
  height: 3.75rem;            /* 60px */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.875rem;              /* 30px */
}

.menu-item {
  width: max-content;
  height: 100%;
  font-family: var(--font-family-en);
  font-weight: var(--font-weight-sd-heavy);
  font-size: 0.8125rem;       /* 13px */
  transition-duration: 0.3s;
  color: var(--text-color-1);
}

.main-menu a {
  display: block;
  text-align: center;
}

.h-side-bar {
  width: 16.375rem;            /* 262px */
  height: 2.6875rem;           /* 43px */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h-search-container {
  width: 11.625rem;            /* 186px */
  height: 1.875rem;            /* 30px */
  border-bottom: 2px solid #e01682;
  cursor: pointer;
  margin-right: 1.25rem;       /* 20px */
}

.search-btn {
  width: 1.375rem;             /* 22px */
  height: 1.5rem;              /* 24px */
  background-image: url(../../imgs/img/btn_search.png);
  background-repeat: no-repeat;
  background-size: contain;
  float: right;
}

.basekt-btn img {
  width: 2.1875rem;            /* 35px */
}

.main-header-bg.active .basekt-btn img {
  filter: invert(1);
}

.user-btn {
  width: 2rem;                 /* 32px */
  height: 2rem;                /* 32px */
  margin: 0 1.25rem;           /* 20px */
  background-image: url(../../imgs/img/btn_user_menu.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

/* Main-menu hover : header style */
.main-header-bg.active {
  background-color: #f986bd;
}

.main-header-bg.active .main-logo {
  background-image: url(../../imgs/img/h_logo_white.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.main-header-bg.active .menu-item a {
  color: #fff;
}

.main-header-bg.active .h-search-container {
  border-bottom: 2px solid #fff;
}

.main-header-bg.active .search-btn {
  background-image: url(../../imgs/img/btn_search_white.png);
}

.main-header-bg.active .user-btn {
  background-image: url(../../imgs/img/btn_user_menu_white.png);
}

.menu-item a:hover {
  color: var(--text-color-1) !important;
}

.top-menu-1 a:hover .sub-list-1 {
  height: 9.375rem;            /* 150px */
}

/* Sub menu 활성화 */
.sub-menu-container {
  width: 100%;
  height: 9.375rem;            /* 150px */
  overflow: hidden;
  background-color: #fff;
  position: absolute;
  top: 5.625rem;               /* 90px */
  left: 0;
  z-index: 900;
}

.sub-menu-list {
  width: 81.25rem;             /* 1300px */
  height: 100%;
  box-sizing: border-box;
  margin-left: 18.75rem;       /* 300px */
  display: flex;
  align-items: center;
  gap: 3.125rem;               /* 50px */
  transition-duration: 0.3s;
}

.sub-menu-item {
  font-family: var(--font-family-ko);
  font-weight: var(--font-weight-sd-semibold);
  font-size: 1.35rem;
  color: #000;
}

.sub-item-title {
  transition-duration: 0.2s;
}

.sub-item-title:hover {
  color: var(--pink-color-2);
}

.sub-menu-container,
.sub-menu-list {
  display: none;
}

/* BR Play */
.sub-list-2 .sub-item-1 {
  width: 12.6875rem;           /* 203px */
  height: 5.625rem;            /* 90px */
}

.sub-list-2 .sub-item-2 {
  width: 25.625rem;            /* 410px */
  height: 5.625rem;            /* 90px */
  padding-left: 5.625rem;      /* 90px */
  border-left: 1px solid #777;
}

.sub-list-2 .sub-menu-item a {
  width: 100%;
}

.sub-list2-a {
  margin-top: 1.25rem;         /* 20px */
}

.sub-list2-a a {
  font-size: 1rem;
  color: #777;
  margin-right: 1.875rem;      /* 30px */
}

/* Delivery/Store */
.sub-list-4 .sub-menu-item {
  display: flex;
  flex-wrap: wrap;
}

.sub-list-4 .sub-item-1 {
  width: 44.8125rem;           /* 717px */
  height: 5.625rem;            /* 90px */
}

.sub-list-4 .sub-item-2 {
  width: 12.6875rem;           /* 203px */
  height: 5.625rem;            /* 90px */
  padding-left: 5.625rem;      /* 90px */
  border-left: 1px solid #777;
}

.sub-list-4 .sub-menu-item a {
  width: 100%;
}

.sub-list4-a {
  margin-top: 1.25rem;         /* 20px */
}

.sub-list4-a a {
  font-size: 1rem;
  color: #777;
  margin-right: 1.875rem;      /* 30px */
}

/* Search(검색창) 버튼 활성화 */
.search-bg-container {
  width: 100%;
  height: 15rem;               /* 240px */
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 999;
  display: none;
}

.search-box-1 {
  width: 81.25rem;             /* 1300px */
  margin: 0 auto;
  height: 5.625rem;            /* 90px */
  display: flex;
  justify-content: end;
  align-items: center;
}

.search-close-btn img {
  display: block;
  width: 1.25rem;              /* 20px */
  height: 1.25rem;             /* 20px */
  margin-left: 0.625rem;       /* 10px */
  padding: 0.625rem;           /* 10px */
  border-radius: 50%;
  border: 2px solid
}