@charset "utf-8";

.content {
  min-height: calc(100vh - 64.4rem);
  padding-top: 9rem;
  padding-bottom: 17rem;
}
.inner {
  min-width: var(--size-pc);
}
.page-title {
  margin-top: 12rem;
}
.page-title__content {
  text-align: center;
}
.page-title__title {
  position: relative;
  font-size: 9rem;
  font-weight: bold;
  color: var(--pink-title-1);
  font-family: Scoop;
  letter-spacing: -0.025rem;
  line-height: 1;
}
.page-title__text {
  color: var(--pink-title-1);
  font-weight: bold;
  font-size: 2rem;
}
