.contents {
  padding: 150px 0 170px;
}
/* 콘텐트 헤더 */
.page-header {
  margin-top: 70px;
}

.page-container {
  width: var(--size-pc);
  margin: 0 auto;
}

.page-content {
  text-align: center;
}

.page-content + .page-content .page-text {
  margin-top: 50px;
}

.page-title {
  display: inline-block;
  position: relative;
  color: #f986bd;
  font-family: var(--font-family-scoop);
  font-weight: 700;
  font-size: 90px;
  letter-spacing: -0.025em;
  line-height: 1;
}

.page-title:before {
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  content: "";
}
.page-text {
  display: inline-block;
  padding: 0 25px;
  color: #f986bd;
  font-weight: var(--font-weight-sd-bold);
  font-size: 20px;
  line-height: 1.5;
}

.page-text--accent {
  color: #ff008a;
}

.page-text strong {
  display: block;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: var(--font-weight-sd-bold);
}

/* 게시물 */
.plaza-list-nav {
  width: var(--size-pc);
  margin: 50px auto 0;
}

.plaza-list-nav__list {
  display: flex;
  justify-content: center;
}

.plaza-list-nav__item {
  position: relative;
  width: calc(33.33% - 6px);
}

.plaza-list-nav__item + .plaza-list-nav__item {
  margin-left: 9px;
}

.plaza-list-nav__item--new .plaza-list-nav__container {
  border: 2px solid #ffe3e8;
  background: #ffe8ed;
}
.plaza-list-nav__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 275px;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
}
.plaza-list-nav__title {
  margin-top: 20px;
  color: #ff5b76;
  font-weight: var(--font-weight-sd-heavy);
  font-size: 35px;
}
.plaza-list-nav__text {
  color: #999;
  font-weight: var(--font-weight-sd-bold);
  font-size: 17px;
}

.plaza-list-nav__buttons {
  display: flex;
  justify-content: center;
}
.plaza-list-nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 45px;
  margin-top: 16px;
  border-radius: 23px;
  background: #ff2a56;
  color: #fff;
  font-weight: var(--font-weight-sd-bold);
  font-size: 15px;
}
.plaza-list-banner {
  width: var(--size-pc);
  margin: 78px auto 0;
}
.plaza-list__container {
  width: var(--size-pc);
  margin: 46px auto 0;
}
.plaza-list-list {
  margin-top: 40px;
}
.plaza-list-list__list {
  margin: 0 -5px;
}
.plaza-list-list__list:after {
  display: block;
  clear: both;
  content: "";
}
.plaza-list-list__item {
  float: left;
  width: calc(25% - 10px);
  margin: 5px;
  padding: 14px 22px 22px 14px;
  border: 1px solid #d4cdc0;
  border-radius: 10px;
  box-sizing: border-box;
}
.plaza-list-nav__item--new {
  background-color: #ffa2b2;
  background-image: url(/assets/images/play/plaza/icon_new.png);
  background-position: right bottom;
}
.plaza-list-nav__item--new .plaza-list-nav__category:before {
  border-top: 20px solid #ffa2b2;
}
.plaza-list-nav__item--new .plaza-list-nav__container {
  border: 2px solid #ffe3e8;
  background: #ffe8ed;
}
.plaza-list-list__header {
  display: flex;
  align-items: center;
  position: relative;
  height: 56px;
  padding-left: 74px;
}
.plaza-list-list__title {
  color: #000;
  font-weight: var(--font-weight-sd-bold);
  font-size: 20px;
}
.plaza-list-list__category {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
  height: 56px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #f986bd;
  font-weight: var(--font-weight-sd-bold);
  font-size: 10px;
}
.plaza-list-list__text {
  margin-top: 30px;
  padding-left: 9px;
  font-size: 14px;
  letter-spacing: -1px;
  line-height: 1.6428571429;
  display: block;
  display: -webkit-box;
  overflow: hidden;
  height: 42px;
  line-height: 14px;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.plaza-list-list__name {
  display: block;
  padding: 6px 0 0 9px;
  color: #6a6a6a;
  font-size: 12px;
}
.plaza-list-list__container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 20px;
}
.plaza-list-like {
  display: flex;
  align-items: flex-end;
}
.plaza-list-like__button {
  width: 32px;
  height: 30px;
  background-image: url(/assets/images/play/plaza/btn_like.png);
  background-repeat: no-repeat;
}
.plaza-list-like__text {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: inset(0 0 99.9% 99.9%);
  clip-path: inset(0 0 99.9% 99.9%);
}

.plaza-list-like__count {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 28px;
  margin-left: 16px;
  padding: 0 15px 0 13px;
  border: 1px solid #d4cdc0;
  border-radius: 14px;
  color: #ffa2b2;
  font-weight: var(--font-weight-sd-semibold);
  font-size: 12px;
  line-height: 1;
}

.plaza-list-like__count:before {
  position: absolute;
  left: 0;
  top: 50%;
  width: 11px;
  height: 10px;
  margin: -5px 0 0 -10px;
  background: url(/assets/images/play/plaza/bg_count.png) no-repeat;
  content: "";
}

.plaza-list .pagination {
  margin-top: 40px;
}
