@charset "utf-8";

.product-list {
    width:var(--size-pc);
    margin:9rem auto 0;
}
.product-list__list {
    display:flex;
    flex-wrap:wrap;
    gap:2.5rem;
}
.product-list__item {
    position:relative;
    width:calc(20% - 2.5rem);
}
.product-list__item.-new {

}
.product-list__item.-new .product-list__link:before {
    content:'';
    position:absolute;
    top:5rem;
    left:4rem;
    z-index:10;
    width:6.7rem;
    height:8.1rem;
    background:url(https://www.baskinrobbins.co.kr/assets/images/common/icon_fom.png) no-repeat
}
.product-list__item.-icecream {

}
.product-list__link {
    display:block;
    overflow:hidden;
    position:relative;
    width:100%;
    height:21rem;
    border:1px solid #f3eee4;
    border-radius:4.5rem;
    box-sizing:border-box
}
.product-list__image {
    position:absolute;
    bottom:-100%;
    left:50%;
    max-width:80%
}
.product-list__hash {
    position:absolute;
    top:6rem;
    left:0;
    z-index:10;
    width:100%;
    padding:0 2rem;
    color:#000;
    font-weight:bold;
    font-size:1.7rem;
    text-align:center;
    opacity:0;
    transform:translateY(5rem);
    box-sizing:border-box;
    word-break:keep-all;
}
.product-list__hashitem {
    display:inline-block;
}
.product-list__title {
    display:block;
    margin-top:2rem;
    padding:0 2rem;
    color:var(--font2);
    font-weight:bold;
    font-size:1.7rem;
    text-align:center
}

.product-list__item.-icecream .product-list__image {
    max-width:90%;
    transform:translate(-50%,-78%);
}

.product-list__item:hover .product-list__link {
    background:var(--product-list-color);
    transition:background .3s ease
}

.product-list__item:hover .product-list__image {
    transition:transform .4s ease
}

.product-list__item:hover .product-list__title,
.product-list__item:hover .product-list__desc {
    color:var(--product-list-color);
    transition:color .4s ease
}

.product-list__item:hover .product-list__hash {
    color:#fff;
    transform:translateY(0);
    transition:transform .4s ease,opacity .3s ease;
    opacity:1
}

.product-list__item:hover .product-list__link:before {
    opacity:0
}

.product-list__item.-icecream:hover .product-list__image {
    transform:translate(-50%,-10rem)
}