@charset "utf-8";

/* RESET */

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    /* user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent; */
}

ul,
ol,
dl {
    list-style: none;
}
img {
    max-width: 100%;
    vertical-align: top;
}
.img {
    width:100%;
}
a {
    color: inherit;
    text-decoration: none;
}
button {
    cursor: pointer;
}
input,
textarea {
    user-select: auto;
   -webkit-user-select: auto;
}